name: Ping backend

on:
  schedule:
    - cron: "* * * * *"
  workflow_dispatch:

jobs:
  run-spider:
    runs-on: ubuntu-latest
    steps:
      - name: Ping backend
        run: |
          curl -I "https://hottagplatform.onrender.com/api/hot/" -H "User-Agent: Mozilla/5.0" --max-time 30 || echo "Ping failed"
